@model ForgotPasswordViewModel

<form asp-controller="Account" asp-action="ForgotPasssword" method="post" role="form">
    <h1 class="text-secondary">Forgot your passord?</h1>
    <h4 class="text-secondary">Enter your email</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <!-- /.form-group -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <!-- /.form-group -->
</form>
<p>
    <a asp-action="Register">Register as a new user?</a>
</p>
<p>
    <a asp-action="Login">Login with existing account?</a>
</p>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}