@model RegisterViewModel

    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
        <h4 class="text-secondary">Create a new account</h4>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <!-- /.form-group -->
    </form>
    <p>
        <a asp-action="Login">Already have an account?</a>
    </p>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
